@media (max-width: 576px) {
  /* Navbar */
  #nav-bar {
    margin: 20px;
  }
  #nav-bar img {
    display: none;
  }
  #nav-bar .container1 {
    display: block;
    text-align: left;
  }
  #nav-bar .icon1 {
    border: none;
  }
  #nav-bar .icon {
    padding: 10px 40px;
    border: none;
  }
  #nav-bar .bg {
    border: none;
  }
  /* Job info */
  #job-info2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px 10% 0px 10%;
    margin: 20px auto;
  }
  /* Certificate */
  .bg-grey2 .certificate {
    display: contents;
    /* grid-template-columns: 1fr; */
  }
  .bg-grey2 .cert1,
  .bg-grey2 .cert2 {
    border-bottom: 2px solid #d6c08d;
    padding-bottom: 20px;
  }
  .bg-grey2 .cert2 {
    border-left: none;
    padding-top: 20px;
  }
  .bg-grey2 .cert3 {
    border-top: none;
  }
  .cert img {
    width: 100%;
    height: fit-content;
  }
  /* Project */
  #project-info .container5 {
    padding: 40px 10% 0px 10%;
  }
  .container5 .project {
    grid-template-columns: 1fr;
  }
  .project .project-time {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px 20px;
    gap: 10px;
  }
  .project .project1 {
    margin-top: 20px;
  }
  /* Footer */
  .social-link {
    display: none;
  }
}
